In [1]:
import numpy as np
import pandas as pd
from utility import *

homedir = get_homedir()
FIPS_mapping, FIPS_full = get_FIPS(reduced=True)

## Reading data

In [2]:
import json

with open(f'{homedir}/JK/po_code_state_map.json') as f:
    po_st = json.load(f)

st_to_fips = {}
for dic in po_st:
    st_to_fips[dic['state']] = dic['fips']
st_to_fips['California']

'06'

In [3]:
demo = pd.read_csv(f'{homedir}/JK/preprocessing/0508/demographic.csv')
demo.loc[:, 'fips'] = demo['fips'].apply(correct_FIPS)
FIPS_demo = set(demo['fips'])

In [4]:
policy_date = ['County Emergency Declaration Date', 'Safer-at-Home Policy Date', 'Business Closure Policy Date']
policy1 = pd.read_csv(f'{homedir}/JK/County_Declaration_and_Policies.csv', usecols=['FIPS']+policy_date, parse_dates=policy_date)
policy1['FIPS'] = policy1['FIPS'].apply(correct_FIPS)
policy1.replace({'FIPS':FIPS_mapping})
policy1.head()

,FIPS,County Emergency Declaration Date,Safer-at-Home Policy Date,Business Closure Policy Date
0,01001,NaT,NaT,NaT
1,01003,2020-03-14,NaT,NaT
2,01005,NaT,NaT,NaT
3,01007,NaT,NaT,NaT
4,01009,2020-03-17,NaT,NaT

In [5]:
policy2 = pd.read_csv(f'{homedir}/data/us/other/policies.csv', usecols=['FIPS', 'stay at home'])
policy2['stay at home'] = policy2['stay at home'].apply(lambda x:(pd.Timestamp.fromordinal(int(x)) if not np.isnan(x) else x))
# policy2['stay at home'] = policy2['stay at home'].apply(pd.Timestamp.fromordinal)
policy2['FIPS'] = policy2['FIPS'].apply(correct_FIPS)
policy2.replace({'FIPS':FIPS_mapping})
policy2.head()

    FIPS stay at home
0      0          NaT
1  01000          NaT
2  01001          NaT
3  01003          NaT
4  01005          NaT

In [6]:
policy3 = pd.read_csv('https://raw.githubusercontent.com/covidvis/covid19-vis/master/data/quarantine-activity-US-Apr16.csv', usecols=list(range(1,12)), parse_dates=[1])
col_pol3 = list(policy3.columns)[:4]+[list(policy3.columns)[5]]+list(policy3.columns)[9:]
policy3['State of Emergency Declaration'] = ~policy3['State of Emergency Declaration'].isna()
policy3.replace({'Shelter-in-place Order':{'Night-time curfew':np.nan}}, inplace=True)
policy3['Shelter-in-place Order'] = ~(policy3['Shelter-in-place Order'].isna())
policy3['business'] = ~((policy3['Bar and Dine-in Restaurant Closure'].isna()) & (policy3['Non-essential Businesses Closure'].isna()))
policy3 = policy3[col_pol3+['business']]
policy3.drop(columns=col_pol3[-2:], inplace=True)
policy3.replace({'State':st_to_fips}, inplace=True)
policy3.head()

,State,Effective Date,Coverage,State of Emergency Declaration,Shelter-in-place Order,business
0,41,2020-02-28,State-wide,False,False,False
1,53,2020-02-29,State-wide,True,False,False
2,12,2020-03-01,State-wide,True,False,False
3,01,2020-03-02,State-wide,False,False,False
4,06,2020-03-04,State-wide,True,False,False

In [7]:
coverage_df = policy3[policy3['Coverage']!='State-wide'][['State', 'Coverage']]
coverage_list = list(coverage_df['Coverage'])
coverage_list

['Scarsdale',
 'Osceola',
 'King, Snohomish, and Pierce',
 'Saline, Jefferson, Pulaski, and Grant',
 'Marin, Sacramento, San Joaquin, San Luis Obispo, Santa Clara, Solano, Placer, and Contra Costa, as well as the Oakland, Antioch, Santa Cruz, Los Angeles Unified, Chaffey Unified, Etiwanda, Fontana Unified, Ontario-Montclair, Alta Loma Unified, San Diego, Los Alamitos Unified, and Washington Unified School Distrcts.',
 'Wellesley, Framingham, and Boston',
 'Dutchess, Orange, Herkimer, Ulster, and Warwick',
 'St Paul',
 'Hoboken',
 'Davidson',
 'New York City, Westchester, Suffolk, and Nassau',
 'Burlington',
 'Tucson and Phoenix',
 'Alameda, Contra Costa, Marin, San Francisco, San Mateo, and Santa Clara.',
 'Blaine',
 'Jackson, Johnson, Kansas City',
 'New York City',
 'San Miguel',
 'Athens-Clarke',
 'Honolulu and Maui',
 'Cass, Douglas, and Sarpy',
 'Chattanooga',
 'Maricopa, Pinal, Navajo, Coconino, and Graham',
 'Kauai',
 'New Orleans',
 'Knoxville',
 'Columbus',
 'Everett',
 'Anchorage',
 'Dougherty',
 'Honolulu',
 'Johnson, Wyandotte, and Leavenworth',
 'Tupelo and Oxford',
 'Belton, Clay, Platte, Kansas City, and Jackson',
 'Nashville and Davidson',
 'Edmonds and Yakima County',
 'Denver, Boulder, and Pitkin',
 'Brunswick',
 'St. Louis',
 'Philadelphia, Allegheny, Bucks, Chester, Delaware, Monroe, and Montgomery',
 'Dallas, Waco, Mclennan, Bell, Cameron, Hunt, Stephens, Forney, Lampasas, Verde, Denton, Kaufman, Brazos, Bryan, College, Station, Galveston, San Antonio, Fort Worth, El Paso, Travis, Williamson, Austin, Castro, Newton, Arlington, Edinburg, Woodcreek, Collin, Harris, Hidalgo, Rockwall',
 'Milwaukee',
 'Birmingham',
 'Miami Beach and Alachua',
 'Atlanta, Blakely, Brookhaven, Carroll, Lowndes, Pickens, Rome, Sandy Springs, Tifton, and Savannah',
 'Douglas ',
 'Fulton',
 'St. Charles, Jefferson, St. Joseph, and Cass',
 'Norman',
 'Block Island, Aquidneck Island',
 'Aquidneck Island',
 'Knoxville, Knox, Memphis, and Shelby',
 'Collin, Galveston, Harris, San Antonio, Travis and Williamson',
 'Ocean Shores',
 ' Boulder, Jefferson, Broomfield, Adams, Arapahoe, Larimer, Weld, and Douglas',
 'Doral and Leon',
 'Canton, Cobb, Decatur, and Floyd',
 'Atchison, Miami, Morris, Sedgwick',
 'Portland',
 'Columbia, Boone, Randolph, and Ray',
 'Dodge, Lancaster, Saunders, and Washington',
 'Madison, Pitt, Beaufort, and Durham',
 'Canadian, Cleveland, Custer, Garvin, Grady, Jackson, Kay, Logan, Mayes, McClain, Muskogee, Noble, Oklahoma, Pawnee, Payne, Pontotoc, Tulsa, Wagoner and Washington',
 'Erie, Lehigh, and Northampton',
 'Charleston',
 'Franklin',
 'Osceola, Parkland, Pinellas, Plantation, Sunny Isles Beach, Weston',
 'Cherokee, Conyers, and Douglas',
 'Coffey, Doniphan, Lyon, and Shawnee',
 'South Portland',
 'Webster, Christian, Perry, Clinton, and Hannibal ',
 'Cabarrus, Kannapolis, Ayden, Greenville, Mecklenberg, and Clay',
 'Columbia',
 'Tuscaloosa and Montgomery',
 'Coral Springs, Broward, and Hillsborough',
 'Bartow, Cartersville, and Doraville',
 'Sumner',
 'Caldwell',
 'Guilford, Greensboro, High Point, Winston-Salem, Forsyth, Clemmons, Buncome, Gaston, and Orange',
 'Berks, Butler, Lackawanna, Lancaster, Luzerne, Pike, Wayne, Westmoreland, and York',
 'Williamsburg',
 'Summit and Salt Lake City',
 'Boca Raton, Dania Beach, Fort Lauderdale, Gadsden County, Hollywood, Lauderdale-by-the-sea, Miramar, Oakland Park, Palm Beach, Pembroke Pines, Pompano Beach, and Wilton Manors',
 'Avondale Estates, Chamblee, Dunwoody,  DeKalb, and Gwinnett',
 'Chase, Jefferson, and Osage',
 'Moss Point',
 'Cole and West Plains',
 'Rutherford and Henderson',
 'Oklahoma City and Tulsa',
 'Beaver, Centre, and Washington',
 'Jackson and Teton County',
 'Lincoln ',
 'Burt, Cuming, Madison, and Stanton',
 'Garfield, Rogers, Seminole and Texas',
 'Miami-Dade, Broward, Palm Beach, Monroe, Delray Beach',
 'Forest Park',
 'Bates, Chariton, and Harrison',
 'Banner, Box Butte, Cheyenne, Dawes, Deuel, Garden, Grant, Kimball, Morrill, Scotts Bluff, Sheridan, and Sioux ',
 'Stillwater and Edmond',
 'Carbon, Cumberland, Dauphin, and Schuylkill',
 'Teton',
 'Sumter',
 'Lauderdale, Meridian',
 'Gascondale and Lafayette',
 'Adams, Buffalo, Clay, Dawson, Franklin, Gosper, Harlan, Kearney, Nuckolls, Phelps, and Webster',
 'Cameron, Crawford, Forest, Franklin, Lawrence, Lebanon, and Somerset',
 'Jackson',
 'Clayton and Fulton',
 'Maryville, Crawford, Johnson, and Dade',
 'Antelope, Arthur, Boyd, Brown, Cherry, Holt, Hooker, Keya Paha, Knox, Lincoln, Logan, McPherson, Pierce, Rock, and Thomas',
 'Lawton, Broken Arrow, and Owasso',
 'Davis',
 'Stoddard and Pulaksi',
 'Mount Pleasant',
 'St. Francois, Linn, and Osage',
 'Vernon and Scott',
 'Moore',
 'Pike',
 'Claremore and Guthrie',
 'El Reno',
 'Butler, Hall, Hamilton, Merrick, Polk, Seward, and York']

In [8]:
import re

cov_parsed = []
for cov in coverage_list:
    _ = re.sub(",* and", ",", re.sub(" as well as", "", cov))
    cov_parsed.append(_.strip().split(', '))

In [11]:
list_st = list(coverage_df['State'])
excep = []
ctylist = [[] for _ in range(len(list_st))]
for i in range(len(list_st)):
    dic_instate = fips_key[fips_key['ST']==list_st[i]][['FIPS', 'COUNTY']]
    for j in range(len(cov_parsed[i])):
        bo = True
        for idx, row in dic_instate.iterrows():
            if row['COUNTY'][:len(cov_parsed[i][j])]==cov_parsed[i][j]:
                print(cov_parsed[i][j], ':', row['FIPS'])
                bo = False
                ctylist[i].append(row['FIPS'])
                break
        if bo:
            print('Not found')
            excep.append([list_st[i], cov_parsed[i][j]])

Not found
Not found
King : 53033
Snohomish : 53061
Pierce : 53053
Saline : 05125
Jefferson : 05069
Pulaski : 05119
Grant : 05053
Marin : 06041
Sacramento : 06067
San Joaquin : 06077
San Luis Obispo : 06079
Santa Clara : 06085
Solano : 06095
Placer : 06061
Contra Costa : 06013
Not found
Not found
Santa Cruz : 06087
Not found
Not found
Not found
Not found
Not found
Not found
San Diego : 06073
Not found
Not found
Not found
Not found
Not found
Dutchess : 36027
Orange : 36071
Herkimer : 36043
Ulster : 36111
Not found
Not found
Not found
Davidson : 47037
Not found
Westchester : 36119
Suffolk : 36103
Nassau : 36059
Not found
Not found
Not found
Alameda : 06001
Contra Costa : 06013
Marin : 06041
San Francisco : 06075
San Mateo : 06081
Not found
Blaine : 16013
Jackson : 20085
Johnson : 20091
Not found
Not found
San Miguel : 08113
Not found
Honolulu : 15003
Maui : 15009
Cass : 31025
Douglas : 31055
Sarpy : 31153
Not found
Maricopa : 04013
Pinal : 04021
Navajo : 04017
Coconino : 04005
Graham : 04009
Kauai : 15007
Not found
Not found
Not found
Not found
Anchorage : 02020
Dougherty : 13095
Honolulu : 15003
Johnson : 20091
Wyandotte : 20209
Leavenworth : 20103
Not found
Not found
Not found
Clay : 29047
Platte : 29165
Not found
Jackson : 29095
Not found
Davidson : 47037
Not found
Yakima County : 53077
Denver : 08031
Boulder : 08013
Pitkin : 08097
Not found
St. Louis : 29189
Philadelphia : 42101
Allegheny : 42003
Bucks : 42017
Chester : 42029
Delaware : 42045
Monroe : 42089
Montgomery : 42091
Dallas : 48113
Not found
Not found
Bell : 48027
Cameron : 48061
Hunt : 48231
Stephens : 48429
Not found
Lampasas : 48281
Not found
Denton : 48121
Kaufman : 48257
Brazos : 48041
Not found
Not found
Not found
Galveston : 48167
Not found
Not found
El Paso : 48141
Travis : 48453
Williamson : 48491
Austin : 48015
Castro : 48069
Newton : 48351
Not found
Not found
Not found
Collin : 48085
Harris : 48201
Hidalgo : 48215
Rockwall : 48397
Milwaukee : 55079
Not found
Not found
Alachua : 12001
Not found
Not found
Not found
Carroll : 13045
Lowndes : 13185
Pickens : 13227
Not found
Not found
Not found
Not found
Douglas : 20045
Not found
St. Charles : 29183
Jefferson : 29099
Not found
Cass : 29037
Not found
Not found
Not found
Not found
Not found
Knox : 47093
Not found
Shelby : 47157
Collin : 48085
Galveston : 48167
Harris : 48201
Not found
Travis : 48453
Williamson : 48491
Not found
Boulder : 08013
Jefferson : 08059
Not found
Adams : 08001
Arapahoe : 08005
Larimer : 08069
Weld : 08123
Douglas : 08035
Not found
Leon : 12073
Not found
Cobb : 13067
Decatur : 13087
Floyd : 13115
Atchison : 20005
Miami : 20121
Morris : 20127
Sedgwick : 20173
Not found
Not found
Boone : 29019
Randolph : 29175
Ray : 29177
Dodge : 31053
Lancaster : 31109
Saunders : 31155
Washington : 31177
Madison : 37115
Pitt : 37147
Beaufort : 37013
Durham : 37063
Canadian : 40017
Cleveland : 40027
Custer : 40039
Garvin : 40049
Grady : 40051
Jackson : 40065
Kay : 40071
Logan : 40083
Mayes : 40097
McClain : 40087
Muskogee : 40101
Noble : 40103
Oklahoma : 40109
Pawnee : 40117
Payne : 40119
Pontotoc : 40123
Tulsa : 40143
Wagoner : 40145
Washington : 40147
Erie : 42049
Lehigh : 42077
Northampton : 42095
Charleston : 45019
Franklin : 47051
Osceola : 12097
Not found
Pinellas : 12103
Not found
Not found
Not found
Cherokee : 13057
Not found
Douglas : 13097
Coffey : 20031
Doniphan : 20043
Lyon : 20111
Shawnee : 20177
Not found
Webster : 29225
Christian : 29043
Perry : 29157
Clinton : 29049
Not found
Cabarrus : 37025
Not found
Not found
Not found
Not found
Clay : 37043
Not found
Tuscaloosa : 01125
Montgomery : 01101
Not found
Broward : 12011
Hillsborough : 12057
Bartow : 13015
Not found
Not found
Sumner : 20191
Caldwell : 29025
Guilford : 37081
Not found
Not found
Not found
Forsyth : 37067
Not found
Not found
Gaston : 37071
Orange : 37135
Berks : 42011
Butler : 42019
Lackawanna : 42069
Lancaster : 42071
Luzerne : 42079
Pike : 42103
Wayne : 42127
Westmoreland : 42129
York : 42133
Williamsburg : 45089
Summit : 49043
Not found
Not found
Not found
Not found
Gadsden County : 12039
Not found
Not found
Not found
Not found
Palm Beach : 12099
Not found
Not found
Not found
Not found
Not found
Not found
Not found
Gwinnett : 13135
Chase : 20017
Jefferson : 20087
Osage : 20139
Not found
Cole : 29051
Not found
Rutherford : 37161
Henderson : 37089
Not found
Tulsa : 40143
Beaver : 42007
Centre : 42027
Washington : 42125
Not found
Teton County : 56039
Lincoln : 29113
Burt : 31021
Cuming : 31039
Madison : 31119
Stanton : 31167
Garfield : 40047
Rogers : 40131
Seminole : 40133
Texas : 40139
Miami-Dade : 12086
Broward : 12011
Palm Beach : 12099
Monroe : 12087
Not found
Not found
Bates : 29013
Chariton : 29041
Harrison : 29081
Banner : 31007
Box Butte : 31013
Cheyenne : 31033
Dawes : 31045
Deuel : 31049
Garden : 31069
Grant : 31075
Kimball : 31105
Morrill : 31123
Scotts Bluff : 31157
Sheridan : 31161
Sioux : 31165
Not found
Not found
Carbon : 42025
Cumberland : 42041
Dauphin : 42043
Schuylkill : 42107
Teton : 56039
Sumter : 12119
Lauderdale : 28075
Not found
Not found
Lafayette : 29107
Adams : 31001
Buffalo : 31019
Clay : 31035
Dawson : 31047
Franklin : 31061
Gosper : 31073
Harlan : 31083
Kearney : 31099
Nuckolls : 31129
Phelps : 31137
Webster : 31181
Cameron : 42023
Crawford : 42039
Forest : 42053
Franklin : 42055
Lawrence : 42073
Lebanon : 42075
Somerset : 42111
Not found
Clayton : 13063
Fulton : 13121
Not found
Crawford : 29055
Johnson : 29101
Dade : 29057
Antelope : 31003
Arthur : 31005
Boyd : 31015
Brown : 31017
Cherry : 31031
Holt : 31089
Hooker : 31091
Keya Paha : 31103
Knox : 31107
Lincoln : 31111
Logan : 31113
McPherson : 31117
Pierce : 31139
Rock : 31149
Thomas : 31171
Not found
Not found
Not found
Davis : 49011
Stoddard : 29207
Not found
Not found
St. Francois : 29187
Linn : 29115
Osage : 29151
Vernon : 29217
Scott : 29201
Not found
Pike : 29163
Not found
Not found
Not found
Butler : 31023
Hall : 31079
Hamilton : 31081
Merrick : 31121
Polk : 31143
Seward : 31159
York : 31185

In [13]:
cov_to_add = []
for i in range(len(ctylist)):
    seri = policy3.loc[coverage_df.index[i]]
    for fips in ctylist[i]:
        seri['Coverage'] = fips
        cov_to_add.append(seri.copy())

In [27]:
policy3_new = policy3.replace({'Coverage':{'State-wide':np.nan}})
policy3_new = policy3_new[policy3_new['Coverage'].isna()]
policy3_new.fillna('0', inplace=True)
policy3_new = policy3_new.append(pd.DataFrame(cov_to_add), ignore_index=True)
policy3_new['fips'] = policy3_new['fips']
policy3_new.head()

,State,Effective Date,Coverage,State of Emergency Declaration,Shelter-in-place Order,business
0,41,2020-02-28,0,False,False,False
1,53,2020-02-29,0,True,False,False
2,12,2020-03-01,0,True,False,False
3,01,2020-03-02,0,False,False,False
4,06,2020-03-04,0,True,False,False

In [28]:
policy3_new['Coverage'].unique()

array(['0', '53033', '53061', '53053', '05125', '05069', '05119', '05053',
       '06041', '06067', '06077', '06079', '06085', '06095', '06061',
       '06013', '06087', '06073', '36027', '36071', '36043', '36111',
       '47037', '36119', '36103', '36059', '06001', '06075', '06081',
       '16013', '20085', '20091', '08113', '15003', '15009', '31025',
       '31055', '31153', '04013', '04021', '04017', '04005', '04009',
       '15007', '02020', '13095', '20209', '20103', '29047', '29165',
       '29095', '53077', '08031', '08013', '08097', '29189', '42101',
       '42003', '42017', '42029', '42045', '42089', '42091', '48113',
       '48027', '48061', '48231', '48429', '48281', '48121', '48257',
       '48041', '48167', '48141', '48453', '48491', '48015', '48069',
       '48351', '48085', '48201', '48215', '48397', '55079', '12001',
       '13045', '13185', '13227', '20045', '29183', '29099', '29037',
       '47093', '47157', '08059', '08001', '08005', '08069', '08123',
       '08035', '12073', '13067', '13087', '13115', '20005', '20121',
       '20127', '20173', '29019', '29175', '29177', '31053', '31109',
       '31155', '31177', '37115', '37147', '37013', '37063', '40017',
       '40027', '40039', '40049', '40051', '40065', '40071', '40083',
       '40097', '40087', '40101', '40103', '40109', '40117', '40119',
       '40123', '40143', '40145', '40147', '42049', '42077', '42095',
       '45019', '47051', '12097', '12103', '13057', '13097', '20031',
       '20043', '20111', '20177', '29225', '29043', '29157', '29049',
       '37025', '37043', '01125', '01101', '12011', '12057', '13015',
       '20191', '29025', '37081', '37067', '37071', '37135', '42011',
       '42019', '42069', '42071', '42079', '42103', '42127', '42129',
       '42133', '45089', '49043', '12039', '12099', '13135', '20017',
       '20087', '20139', '29051', '37161', '37089', '42007', '42027',
       '42125', '56039', '29113', '31021', '31039', '31119', '31167',
       '40047', '40131', '40133', '40139', '12086', '12087', '29013',
       '29041', '29081', '31007', '31013', '31033', '31045', '31049',
       '31069', '31075', '31105', '31123', '31157', '31161', '31165',
       '42025', '42041', '42043', '42107', '12119', '28075', '29107',
       '31001', '31019', '31035', '31047', '31061', '31073', '31083',
       '31099', '31129', '31137', '31181', '42023', '42039', '42053',
       '42055', '42073', '42075', '42111', '13063', '13121', '29055',
       '29101', '29057', '31003', '31005', '31015', '31017', '31031',
       '31089', '31091', '31103', '31107', '31111', '31113', '31117',
       '31139', '31149', '31171', '49011', '29207', '29187', '29115',
       '29151', '29217', '29201', '29163', '31023', '31079', '31081',
       '31121', '31143', '31159', '31185'], dtype=object)

In [124]:
fips_to_st = {}
for dic in po_st:
    fips_to_st[dic['fips']] = dic['state']

for city in excep:
    print(city[1]+',',fips_to_st[city[0]])

Scarsdale, New York
Osceola, Wisconsin
the Oakland, California
Antioch, California
Los Angeles Unified, California
Chaffey Unified, California
Etiwanda, California
Fontana Unified, California
Ontario-Montclair, California
Alta Loma Unified, California
Los Alamitos Unified, California
Washington Unified School Distrcts., California
Wellesley, Massachusetts
Framingham, Massachusetts
Boston, Massachusetts
Warwick, New York
St Paul, Minnesota
Hoboken, New Jersey
New York City, New York
Burlington, Vermont
Tucson, Arizona
Phoenix, Arizona
Santa Clara., California
Kansas City, Kansas
New York City, New York
Athens-Clarke, Georgia
Chattanooga, Tennessee
New Orleans, Louisiana
Knoxville, Tennessee
Columbus, Mississippi
Everett, Washington
Tupelo, Mississippi
Oxford, Mississippi
Belton, Missouri
Kansas City, Missouri
Nashville, Tennessee
Edmonds, Washington
Brunswick, Maine
Waco, Texas
Mclennan, Texas
Forney, Texas
Verde, Texas
Bryan, Texas
College, Texas
Station, Texas
San Antonio, Texas
Fort Worth, Texas
Arlington, Texas
Edinburg, Texas
Woodcreek, Texas
Birmingham, Alabama
Miami Beach, Florida
Atlanta, Georgia
Blakely, Georgia
Brookhaven, Georgia
Rome, Georgia
Sandy Springs, Georgia
Tifton, Georgia
Savannah, Georgia
Fulton, Mississippi
St. Joseph, Missouri
Norman, Oklahoma
Block Island, Rhode Island
Aquidneck Island, Rhode Island
Aquidneck Island, Rhode Island
Knoxville, Tennessee
Memphis, Tennessee
San Antonio, Texas
Ocean Shores, Washington
Broomfield, Colorado
Doral, Florida
Canton, Georgia
Portland, Maine
Columbia, Missouri
Parkland, Florida
Plantation, Florida
Sunny Isles Beach, Florida
Weston, Florida
Conyers, Georgia
South Portland, Maine
Hannibal, Missouri
Kannapolis, North Carolina
Ayden, North Carolina
Greenville, North Carolina
Mecklenberg, North Carolina
Columbia, South Carolina
Coral Springs, Florida
Cartersville, Georgia
Doraville, Georgia
Greensboro, North Carolina
High Point, North Carolina
Winston-Salem, North Carolina
Clemmons, North Carolina
Buncome, North Carolina
Salt Lake City, Utah
Boca Raton, Florida
Dania Beach, Florida
Fort Lauderdale, Florida
Hollywood, Florida
Lauderdale-by-the-sea, Florida
Miramar, Florida
Oakland Park, Florida
Pembroke Pines, Florida
Pompano Beach, Florida
Wilton Manors, Florida
Avondale Estates, Georgia
Chamblee, Georgia
Dunwoody, Georgia
 DeKalb, Georgia
Moss Point, Mississippi
West Plains, Missouri
Oklahoma City, Oklahoma
Jackson, Wyoming
Delray Beach, Florida
Forest Park, Georgia
Stillwater, Oklahoma
Edmond, Oklahoma
Meridian, Mississippi
Gascondale, Missouri
Jackson, Wyoming
Maryville, Missouri
Lawton, Oklahoma
Broken Arrow, Oklahoma
Owasso, Oklahoma
Pulaksi, Missouri
Mount Pleasant, South Carolina
Moore, Oklahoma
Claremore, Oklahoma
Guthrie, Oklahoma
El Reno, Oklahoma

In [102]:
cov_dict = dict(zip(coverage_list, cov_parsed))
newcol = []
for cov in list(policy3['Coverage']):
    newcol.append(cov_dict[cov])

In [10]:
po_to_fips = {}
for dic in po_st:
    po_to_fips[dic['postalCode']] = dic['fips']

fips_key = pd.read_csv(f'{homedir}/data/us/processing_data/fips_key.csv', encoding='latin-1')
fips_key['FIPS'] = fips_key['FIPS'].apply(correct_FIPS)
fips_key.replace({'ST':po_to_fips}, inplace=True)
fips_key.head()

    FIPS  MSA/PMSA NECMA  ST          COUNTY
0  01001            5240  01  Autauga County
1  01003            5160  01  Baldwin County
2  01005               0  01  Barbour County
3  01007               0  01     Bibb County
4  01009            1000  01   Blount County

## Create curated DataFrame

In [8]:
policy = pd.DataFrame(columns = ['fips', 'emergency', 'safeathome', 'business'])
policy['fips'] = demo['fips']
policy.head()

    fips emergency safeathome business travel
0  01001       NaN        NaN      NaN    NaN
1  01003       NaN        NaN      NaN    NaN
2  01005       NaN        NaN      NaN    NaN
3  01007       NaN        NaN      NaN    NaN
4  01009       NaN        NaN      NaN    NaN